.container-actor {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    align-items: center;
    margin-top: 300px;
}

.container-actor img {
    width: 300px;
}

.content-actor {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: #ffffff;
    width: 300px;
}

.content-actor h2 {
    font-family: Anderson Grotesk;
    font-size: 60px;
    color: #D8572A;
}

.content-actor strong {
    font-family: Barlow;
    color: #F7B538;
}

.content-actor p {
    font-family: Barlow;
    font-size: 40px;
    margin: 25px 0;
    color: #ffffff;
}

.biography {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.biography p {
    margin-top: 30px;
    width: 1200px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

.button-back-movie {
    align-items: center;
    background-clip: padding-box;
    background-color: #f7b538;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 100px auto 100px auto;
}

.button-back-movie:hover,
.button-back-movie:focus {
    background-color: #fac664;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #D8572A;
}