.container-connexion{
    position: relative;
    width: 100%;
    height: 1000px;
}
.background-connexion{
    width: 1920px;
    height: 1000px;
}
.content-connexion{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #707070;
    height: 458px;
    width: 867px;
}
.inputconnexion {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 100px;
}
.inputconnexion input{
    border: none;
    background-color: transparent;
    color: #f8efef;
    padding: 30px 0 0 0;
    margin:10px;
    width: 700px;
}
.inputconnexion input::placeholder{
    color: #f8efef;
    font-size: 48px;
}
.inputconnexion hr{
    background-color: #f8efef;
    width: 600px;
    margin-bottom: 8px;
}
.email-input{
    margin-bottom: 100px;
}

.create-account{
    position: absolute;
    display: flex;
    justify-content: center;
    top:90%;
    left:43%;
    font-size: 24px;
    font-family: Barlow;;
}
.create-account h3{
    color: #f8efef;
}

.psw-forgot{
    margin-right: 580px;
}

.button-login{
    position: absolute;
    top:80%;
    left:42%;
    width: 292px;
    height: 72px;
    background-color: #F7B538;
    color: #120B02;
    font-size: 36px;
    font-family: Anderson Grotesk;
    padding: 18px 90px;
}
.button-login:hover{
    color: #D8572A;
}
.account-registration{
    color:#D8572A;
    padding: 5px;
}


