
.container-search {
  max-width: 1920px;
  height: 2222px;
  margin-bottom: -5px;
}

h1 {
  color: #ffffff;
}

.input-search input {
  width: 336px;
  padding: 10px;
  border: 2px solid #d8572a;
  position: absolute;
  top: 15%;

  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}


.background-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.movie-poster-search {
  position: relative;
  margin-bottom: -5px;
}

.movie-poster-search img {
  height: auto;
  display: block;
}

.movie-poster-search h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #d8572a;
  text-align: center;
  z-index: 1;
}


.grid-movie-poster {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 300px 10px 100px 0;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  bottom: 0;
}