* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  font-family: Anderson grotesk;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background-color: #343434;
  color: #d8572a;
  text-decoration: none;
  padding: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  margin-left: 30px;
}

li {
  margin-right: 30px;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f7b538;
}

.iconSearch {
  margin-left: auto;
  font-size: 20px;
  color: #ffffff;
}

.iconSearch:hover {
  margin-left: auto;
  font-size: 20px;
  color: #f7b538;
}

.iconUser {
  margin: 0 50px;
  font-size: 20px;
  color: #ffffff;
}

.iconUser:hover {
  margin: 0 50px;
  font-size: 20px;
  color: #f7b538;
}

.container {
  max-width: 1920px;
}

.content {
  width: 100%;
}

.homeImage {
  height: 1080px;
  position: relative;
}

.imageText {
  position: absolute;
  font-size: 15px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f7b538;
  letter-spacing: 12px;
  font-family: Anderson grotesk;
}

.imageText h1 span {
  font-size: 40px;
}

.imageText p {
  font-size: 80px;
}
.movieSuggestion{

  margin-bottom: -5px;
}
.movieSuggestion .carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: -2750px auto;
  padding: 20px;
  position: absolute; /* Changez de absolute à relative */
}
.buttonCarousel{
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}
.imagesCarousel{
 display: flex;
}
.imagesCarousel h2{
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  font-family: Anderson grotesk;
 }


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px; /* Personnalisez la largeur du carrousel selon vos besoins */
  margin: 0 auto;
  padding: 20px;
}

.carousel-button {
  font-size: 25px;
  margin: 20px;
  padding: 10px 15px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}
.carousel-button:hover {
  padding: 10px 15px;
  background-color: transparent;
  color: #f7b538;
  border-color: #f7b538;
  cursor: pointer;
}


.carousel-button.prev {
  order: -1; /* Changez l'ordre pour mettre le bouton "Précédent" à gauche */
}

.carousel-button.next {
  order: 3; /* Changez l'ordre pour mettre le bouton "Suivant" à droite */
}


.carousel {
  display: flex;
  align-items: center;
  position:absolute;
  text-align: center;
}


.carousel img {
  max-width: 100%;
  height: 550px;
  margin: 0 42px;
}

.carouselMovie {
padding: 120px 0 350px 0;
}
.carouselMovie h1{
  color:#ffffff;
  }

.carouselTvseries h1{
  color:#ffffff;
}
.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 166px;
  background-color: #343434;
  color: #d8572a;
  text-align: center;
  align-items: center;
  width: 1920px;
  margin:0;
  padding: 0;
}
