* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  font-family: Anderson grotesk;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background-color: #343434;
  color: #d8572a;
  text-decoration: none;
  padding: 30px;
}

.nav-container {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  margin-left: 50px;
}

li {
  margin-right: 100px;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f7b538;
}

.iconSearch {
  margin-left: auto;
  font-size: 20px;
  color: #ffffff;
}

.iconSearch:hover {
  margin-left: auto;
  font-size: 20px;
  color: #f7b538;
}

.iconUser {
  margin: 0 50px;
  font-size: 20px;
  color: #ffffff;
}

.iconUser:hover {
  margin: 0 50px;
  font-size: 20px;
  color: #f7b538;
}

.container {
  max-width: 1920px;
}

.content {
  width: 100%;
}

.homeImage {
  height: 1080px;
  position: relative;
}

.imageText {
  position: absolute;
  font-size: 15px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f7b538;
  letter-spacing: 12px;
  font-family: Anderson grotesk;
}

.imageText h1 span {
  font-size: 40px;
}

.imageText p {
  font-size: 80px;
}

.movieSuggestion {

  margin-bottom: -5px;
}

.movieSuggestion .carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: -2750px auto;
  padding: 20px;
}

.items {
  margin: 10px;
}

.buttonCarousel {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.imagesCarousel {
  display: flex;

}

.imagesCarouselTV {
  display: flex;

}

.imagesCarouselTV h2 {
  display: flex;

}



.imagesCarousel h2 {
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  font-family: Anderson grotesk;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.carousel-button {
  font-size: 25px;
  margin: 20px;
  padding: 10px 15px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.carousel-button:hover {
  padding: 10px 15px;
  background-color: transparent;
  color: #f7b538;
  border-color: #f7b538;
  cursor: pointer;
}


.carousel-button.prev {
  order: -1;
  /* Changez l'ordre pour mettre le bouton "Précédent" à gauche */
}

.carousel-button.next {
  order: 3;
  /* Changez l'ordre pour mettre le bouton "Suivant" à droite */
}


.carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;

}


.carousel img {

  height: 550px;
  margin: 0 42px;
}

.carouselMovie {
  padding: 120px 0 350px 0;
}

.carouselMovie h1 {
  color: #ffffff;
}

.carouselTvseries h1 {
  color: #ffffff;
}

.category-container {
  width: 1920px;
  padding-top: 75px;
}
.category-container h1{
color: #343434;
}
.category-choice{
 height: 593px;
 background-color: #120B02;
 border-bottom: 3px solid #d8572a;
}
.category-choice input{
  float: right;
  height: 30px;
  margin: 40px 0 0 0;
 }
.category-choice h1{
  font-family: Anderson grotesk;
  font-size: 80px;
  color: #d8572a;
  text-align: center;
  margin-bottom: 20px;
 }
 .input-movie {
  display: flex;
  justify-content: flex-end;
 }
 .input-movie input{
  width: 336px;
  margin-right: 60px;
  padding: 10px;
  border: 2px solid #d8572a;
 }

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 60px;
}
.grid-category {
  font-family: barlow condensed;
  font-weight: bold;
  background-color: #f7b538;
  border: 2px solid #120B02; 
  color: #120B02;
  margin:10px 80px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.grid-category:hover{
  font-family: barlow condensed;
  font-weight: bold;
  background-color: #d8572a;
  border: 2px solid #120B02; 
  color: #120B02;
  margin:10px 80px;
  padding: 30px;
  font-size: 30px;
  text-align: center;
}
.movie-poster {
  position: relative;
  margin-bottom: -5px;
}
.movie-poster img {
  height: auto;
  display: block;
}
.movie-poster h1 {
  position: absolute;
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #d8572a;
  text-align: center;
  z-index: 1; 
}
.image-poster{
  background-color: #120B02;
  border: 3px solid #d8572a;
  margin: 40px;
  padding: 30px;
  position: relative;
  margin-bottom: 10px;
}
.image-poster img{
  border:3px solid #f7b538;
  margin: auto;
  width: 415px;
  height: auto;
}
.infos-poster{
  position: absolute;
  width: 500px;
  margin: 90px 0;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}
.infos-poster h2{
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
}

.grid-movie-poster{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px,1fr));
  gap: 20px;
  justify-content: center;
  padding: 300px 10px 100px 0;
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  bottom: 0;
}
.button-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.button-poster-infos{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 10px;
  width: 190px;
  height: 43px;
  background-color: #343434;
  color: #f7b538;
}
.button-poster-watch{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 10px;
  width: 190px;
  height: 43px;
  background-color: #f7b538;
  color: #120B02;
}
.pagination-container {
  position: relative;

}
.pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: -200px 300px 0 0;
}
.pagination span{
  font-size: 30px;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}
.pagination span:hover{
  font-size: 30px;
  color: #f7b538;
  padding: 10px;
  cursor: pointer;
}

.pagination button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0 5px;
}

.pagination button.active {
  background-color: #f7b538;
  color: #343434;
}



.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 166px;
  background-color: #343434;
  color: #d8572a;
  text-align: center;
  align-items: center;
  width: 1920px;
  margin: 0;
  padding: 0;
}